*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-cont{
    background-color: #272757;
    color: #8686AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap:20px;
    
}
.login-cont h1{
    font-weight: 900;
}
.loginp{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid #505081;
    color: #8686AC;
    background-color:  #272757;
    width:400px;
    padding: 20px;
    border-radius: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 4px 10px #384959;
}
.loginbtn{
    color: white;
    background-color: #272757;
    border-radius:12px;
    width: 70px;
    align-items: center;
    cursor: pointer;
}
a{
    color:#8686AC;
    text-decoration: none;
}
.radios{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.radios{
    display: flex;
    gap: 25px;
    align-items: center;
}

.radios label{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.radios input{
    width: auto;
    margin: 0;
}