.products-page{

    min-height:100vh;
    background:#272757;
    color:white;
    padding:30px;
}

.products-page h1{

    text-align:center;
    margin-bottom:30px;
}

.product-form{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;

    background:white;
    color:#272757;

    padding:25px;

    border-radius:12px;

    margin-bottom:40px;
}

.product-form input{

    padding:12px;
    border-radius:8px;
    border:none;
    outline:none;
    font-size:15px;
}

.product-form button{

    grid-column:span 2;

    padding:14px;

    background:#4F46E5;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;
}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

    color:#272757;

    border-radius:12px;

    overflow:hidden;
}

th{

    background:#4F46E5;

    color:white;

    padding:15px;
}

td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #ddd;
}

tr:hover{

    background:#f2f2f2;
}